body{
    color:orange;
    background-color: black;
    background-image: url(https://images.hdqwalls.com/wallpapers/birds-flying-8-bit-minimal-4k-ix.jpg) ;
    background-position: center;
    background-size: cover;
    font-family: 'Press Start 2P', cursive;
    display: flex;
    flex-direction: column;
    min-height: 95vh;
    max-width:95vw ;
    margin: auto;
    text-shadow: 3px 3px rgb(110, 53, 32);
}
main{
    flex-grow: 1;
}

img{
    max-height: 25vh;
max-width: 80%;

}

